PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/brain_training?retryWrites=true&w=majority
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123456
ADMIN_NAME=Admin
